services:
  db:
    image: mariadb:lts-ubi9
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: "secret"
      MARIADB_DATABASE: "my_database"
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./db_init/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
  

  app:
    build: .
    depends_on:
      - db
    tty: true
    volumes:
      - ./app:/home/appuser/app


  phpmyadmin:
    image: phpmyadmin:5.2.3-apache
    container_name: phpmyadmin
    ports:
      - "8082:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: secret
    depends_on:
      - db

volumes:
  mariadb_data:
    driver: local